{{page-title "Users"}}

<Input @value={{this.newTitle}} @enter={{this.addUser}} />

hi
{{!-- <ul>
  {{#each @model as |users|}}
    <li>
      {{users.title}}
    </li>
  {{/each}}
</ul> --}}


{{outlet}}